<img class= "neriBio" src="/images/NERI_BIO.jpeg" style="float: left;"/>
<aside>
    <div class ="aboutContent">
        <h1 style="font-size: 80px;"> ABOUT NERI</h1>
         <br>
        <h4> An architect, scientist, engineer and inventor. Neri Oxman has led the creation of scientific research and technologies with an emphasis on integrative design across scales and disciplines.</h4>
        <br>
        <p> Oxman was born and raised in Haifa, Israel, to a Jewish family. Her parents, Robert and Rivka Oxman, are both architects. Her younger sister, Keren Oxman, is an artist. </p>
        <p></p>
        <p>Oxman graduated from the Hebrew Reali School in Haifa in 1994. Oxman grew up "between nature and culture", spending time in her grandmother's garden and her parent's architectural studio. Oxman served in the armed forces, enlisting in the Israeli Air Force, achieving the rank of first lieutenant.</p>
        <p></p>
        <p>After her service, she moved to Jerusalem to enter Hebrew University's Hadassah Medical School. After two years, she switched to studying architecture at the Technion, and then at the London Architectural Association School of Architecture, graduating in 2004. In 2005, she moved to Boston to join the architecture PhD program at MIT, under adviser William J. Mitchell. Her thesis was on material-aware design. In 2010, she became an associate professor at MIT in the MIT Media Lab. </p>
    </div>
</aside>
