<div style="size: 100%;">
    <img class="neriSpeech" src= "/images/neri_work.jpeg">
</div>

<div class="workContent">  
    <h1 style="font-size: 80px;"> NERI'S WORK </h1>
    <br>
    <h4 class="workSubtitle">In Oxman’s approach, coined Material Ecology, computation, fabrication,environment, and the materials themselves are inseparable. </h4>
    <br>
    <p> Oxman earned a PhD in design computation at the Massachusetts Institute of Technology after studying architecture at the Architectural Association in London and the Technion—Israel Institute of Technology; she also studied medicine at the Hebrew University in Jerusalem.</p>
    <p></p>
    <p> During the course of her studies, she founded MIT Media Lab’s Mediated Matter group a design research group that aims to explore ways in which digital design and production techniques can enhance the relationship between the built and natural environments, operating at the intersection of computational design, robotic fabrication, materials engineering, and synthetic biology. The group applies this knowledge to design, from the micro scale to the building scale. 
    <br>
    <p>Oxman coined the term “material ecology” to describe the study, design and fabrication of buildings, products and systems that integrate environmentally aware, computational, form-generating processes and digital production. Raised in Israel, in a family of architects and builders, Oxman once pursued a medical career. Her medical learning is evidenced in such work as “Beast,” a chaise lounge composed of eight flexible printed materials that respond to the body’s pressure points. Returning to memories of her grandmother’s fig trees or her childhood herbaria, Oxman continues to be inspired by nature.</p>
</div>